* {
    margin 0;
}

.link-button {
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 10px;
}

.big-image {
    width: 100%;
    height: 100%;
    background-image: url(images/donation6.jpg);
}

.container {
    font-size: 26px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.align {
    font-size: 20px;
    color: white;
}

.tag {
    color: white;
}

.justify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donation {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h3 {
    background-color: gray;
    border-radius: 5px;
    background-size: 10px 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px gray;
}

.color-change:hover {
    color: red;
    background-color: coral;
}

.food-family {
    width: 30%;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

section {
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
    background-color: black;
    padding: 5px 5px;
    margin-top: 10px;
}

footer h6 {
    color: white;
}

footer h2 {
    color: red;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input[type="text"] {
    padding: 10px;
    border-bottom: 2px darkcyan;
    border: none;
    text-align: center;
    margin-bottom: 5px;

}